<%- include("partials/header.ejs") %>
<div class="ajeeb">
<h1>About Me</h1>
<img class="profile" src="/images/pavanb.jpg" alt="pavan profile">
<p>
 I am Nalla Pavan Reddy Currently Prusing My Btech and Loves TO Know Various Aspects of Life And Code and i think iam getting better day by day this maybe created when iam beginner i may become more advanced by moving forward 
</p></div>
<%- include("partials/footer.ejs") %>
